<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.webapp.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CustomerServlet</display-name>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.example.webapp.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.webapp.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SaleServlet</display-name>
        <servlet-name>SaleServlet</servlet-name>
        <servlet-class>com.example.webapp.SaleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaleServlet</servlet-name>
        <url-pattern>/SaleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ProductServlet</display-name>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.example.webapp.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PromoteServlet</display-name>
        <servlet-name>PromoteServlet</servlet-name>
        <servlet-class>com.example.webapp.PromoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PromoteServlet</servlet-name>
        <url-pattern>/PromoteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>HistoryServlet</display-name>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>com.example.webapp.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <!-- error-code related error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>

    <!-- exception-type related error pages -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/appError.jsp</location>
    </error-page>
</web-app>